{% extends "quotes/quote.html" %}

{% block title %}All Students{% endblock title %}

{% block content %}
<h1>All Students</h1>

<table class="quote">
    <tr><td>Name:</td><td>{{ quote.name }}</td></tr>
    <tr><td>Phone:</td><td>{{ quote.phone }}</td></tr>
    <tr><td>Email:</td><td>{{ quote.email }}</td></tr>
    <tr><td>Major:</td><td>{{ quote.major }}</td></tr>
    <tr><td>Classification:</td><td>{{ quote.classification }}</td></tr>
    <tr><td>Graduation:</td><td>{{ quote.graduation }}</td></tr>
    <tr><td>Bio:</td><td>{{ quote.bio }}</td></tr>
    <tr><td>Skills:</td><td>{{ quote.skills }}</td></tr>
    <tr><td>Languages:</td><td>{{ quote.languages }}</td></tr>
    <tr><td>Experience:</td><td>{{ quote.experience }}</td></tr>
</table>
<p><a href="../show">Back to students list</a></p>
{% endblock content %}