{% extends 'quotes/quote.html' %}

{% block title %}
All Students
{% endblock title %}

{% block content %}
<h1>All Students</h1>

<table style="border-collapse:collapse">
    <tr class="quotehdr">
        <th>ID</th>
        <th>Student Name</th>
        <th>Email</th>
        <th>Classification</th>
        <th>Major</th>
    </tr>
    {% for quote in all_quotes %}
        <tr class="quoterow {% cycle '' 'altrow' %}">
            <td><a href="show/{{ quote.id }}">{{ quote.id }}</a></td>
            <td>{{ quote.name }}</td>
            <td>{{ quote.email }}</td>
            <td>{{ quote.classification }}</td>
            <td>{{ quote.major }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock content %}